@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.full-height {
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

/* ant design*/

/* 탭바에 스크롤바 생기는 현상 막기 위함 */
.ant-tabs-content {
  height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.ant-spin-nested-loading {
    width: 100%;
}
